
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 300px) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:scroll;
    height: auto;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100%;
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c2c2c 74%);
    color: white;
  }

  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .hero-image {
    background-image: url("./header.jpeg");
    background-color: #cccccc;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }

  .ihs {
    padding-top: 10rem;
    padding-left: 3%;
    margin: 0;
    color:white;
    font-size: 4rem;
    font-family: Georgia, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: white; */
    color: #e4e4e8;
    text-align: center;
    opacity: 1;
  }

  .styles_wrapper__1kG3C {
    background: #e4e4e8 !important;
    
  }

  #_2iAdU {
    background: inherit !important;
    box-shadow: none !important;
  }

  #_2iAdU::before {
    background: inherit !important;
    transition: none !important;
  }

  ._3HDv1 {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }

  ._3Kbya {
    display: none !important;
  }

  :root {
    --pcol: #1a4240 !important;
    --tspeed: 0s !important;
  }

  #about {
    min-height: 50rem;

    align-items: center;
    text-align: center;
  }

  #projects {
    min-height: 50rem;
  }

  #wood {
    min-height: 50rem;
  }

  #contacts {
    min-height: 50rem;
  }

  .avatar {
    border-radius: 50%;
    height: 30%;
    width: 30%;
    align-items: center;
    text-align: center;
    margin-top: 4%;
  }

  .fixed-top {
    position: sticky !important;
    
  }

  .about-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
    font-family: "Raleway";
  }

  .about-text-hello {
    padding-top: 2%;
    font-family: "Raleway";
    font-size: 44px;
  }

  
}


/* Mobile devices ----------------------------------------------*/
@media only screen 
and (min-width : 321px)
and (max-device-width : 480px) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow:scroll;
    height: auto;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .hero-image {
    background-image: url("./header.jpeg");
    background-color: #cccccc;
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }

  .ihs {
    padding-top: 15%;
    margin: 0;
    color:white;
    font-size: 2.5rem;
    text-align: center;
    font-family: Georgia, serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: white; */
    color: #e4e4e8;
    text-align: center;
    opacity: 1;
  }

  .styles_wrapper__1kG3C {
    background: #e4e4e8 !important;
    
  }

  #_2iAdU {
    background: inherit !important;
    box-shadow: none !important;
  }

  #_2iAdU::before {
    background: inherit !important;
    transition: none !important;
  }

  ._3Kbya {
    display: none !important;
  }
  
  #_2iAdU > div {
    padding: 0 !important;
  }

  .avatar {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    align-items: center;
    text-align: center;
    margin-top: 30%;
  }

  .fixed-top {
    position: sticky !important;
  }

  .about-text {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 22px;
    font-family: "Raleway";
  }

  .about-text-hello {
    padding-top: 2%;
    font-family: "Raleway";
    font-size: 44px;
  }
  
}